:root {
    --primary-background-color: rgb(8, 12, 30);
    --primary-background-color-opacity: rgba(8, 12, 30, 0.6);
    --button-color: #452c4a;
    --button-color-hover: #301e34;


    --header-h1-large-device: 35px;
    --header-h1-small-device: 30px;

    --header-p-large-device: 20px;
    --header-p-small-device: 15px;
}